body {
  margin: 0;
  padding: 0;
  background-color: orange;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10vh;
}

#title, #description {
  align-self: center;
}
#title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 5vw;
}
#description {
  font-size: 3vw;
  margin: -2.5vh 0 5vh;
}

/* FORM STYLES  */

.form_wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: auto;
  width: 80%;
  padding: 10vh 6vw;
  background: url(https://images.unsplash.com/photo-1522069169874-c58ec4b76be5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=712&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
  color: snow;
}
.who {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5vh;
}
.labels {
  display: row;
  text-align: right;
  font-size: 3.5vw;
}
.user_input {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.survey {
  margin-bottom: 4vh;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  font-size: 3.5vw;
  width: 100%;
}
.survey1, .survey2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#dropdown {
  height: 5vh;
  width: 25vw;
  align-self: center;
  padding: 5vh 6vw;
  font-size: 2vw;
}
.rating {
  align-self: center;
}
.radio {
  display: inline-block;
  font-size: 3vw;
  list-style-type: none;
}
.radio-value {
  position: relative;
  top: -0.25vw;
  right: 1.5vw;
}
.comment_section {
  display: flex;
  flex-direction: column;
}
.comments {
  text-align: center;
  font-size: 4vw;
  margin-bottom: 2vh;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  margin-bottom: -10vh;
}
.submit-btn {
  padding: 2vh 4vw;
  border-radius: 1.5vh;
  barder: 0 solid;
  font-size: 2.5vw;
}

/* FOCUS STYLES */
#name:focus, #email:focus, #number:focus, #comments:focus {
  background-color: rgba(255, 162, 0, 0.35);
  color: black;
}


@media screen and (max-width: 455px) {
  .labels {
    text-align: left;
  }
  input {
    justify-content: flex-end;
    width: 70%;
  }
  .survey2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .survey_radio {
    width: 100%;
  }
  .radio {
    padding-right: 10vw;
  }
  .radio-value {
    position: relative;
    top: 2.75vh;
    left: -6vw;
  }
}
